<% provide(:title, 'Update Report') %>
<h1>Update Report</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([@project, @task, @report]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>



      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>

      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>