<% provide(:title, 'Task reports') %>
<h1> Reports of Task <%= link_to @task.name, project_task_path(@project.id, @task.id)%></h1>

<%if trainee? %>
  <%= link_to 'Create Report', new_project_task_report_path, class: 'btn btn-lg btn-primary' %>

  <br>

  <%= will_paginate @reports %>

  <ul class="projects">
    <% @reports.each do |report| %>
      <% unless report.deleted? %>
        <li>
          <h1>
            Report:
            <%= link_to report.title, project_task_report_path(@project.id, @task.id, report.id) %>
          </h1>
          <%= link_to 'Delete', project_task_report_path(@project.id, @task.id, report.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-lg btn-primary' %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= will_paginate @reports %>

<% elsif admin? || trainer? %>

  <%= will_paginate @users_projects %>

  <% @users_projects.each do |up| %>
    <% @users_projects_task = up.add_tasks.find_by(task_id: @task.id) %>
      <ul class="trainees">
        <li>
          <h1>
            Trainee:
            <%= link_to up.trainee.name, up.trainee %> |
            <span>
            <% if @users_projects_task.status.nil? %>
              <span class="not_started">Not started yet</span>
            <% elsif !@users_projects_task.status? %>
              <span class="working">Working</span>
            <% else @users_projects_task.status? %>
              <span class="completed">Completed</span>
            <% end %>
            </span>
          </h1>
        <% @reports = @users_projects_task.added_reports.where(deleted: false) %>
          <% if @reports.empty? %>
            <ul class="reports">
              <li>
                <h1>
                  Has no reports yet
                </h1>
              </li>
            </ul>
          <% else %>
            <% @reports.each do |report| %>
              <% unless report.deleted? %>
                <ul class="reports">
                  <li>
                    <h1>
                      Report:
                      <%= link_to report.title, project_task_report_path(@project.id, @task.id, report.id) %>
                    </h1>
                    <%# if admin? %>
                      <%#= link_to 'Delete', project_task_report_path(@project.id, @task.id, report.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-lg btn-primary' %>
                    <%# end %>
                  </li>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        </li>
      </ul>
  <% end %>

  <%= will_paginate @users_projects %>

<% end %>