<% provide(:title, 'New Report') %>
<h1>New Report</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([@project, @task, @report]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <h3>
        <b>Task <%= @users_projects_task.task.name %></b>
      </h3>

      <%= f.hidden_field :trainee_id, value: current_user.id %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>

      <%= f.fields_for :belong_tasks do |b| %>
        <%= b.hidden_field :users_projects_task_id, value: @users_projects_task.try(:id) %>
        <%#= hidden_field_tag :users_projects_task_id, @users_projects_task.try(:id) %>
      <% end %>

      <%= f.submit "Create report", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>