<% provide(:title,  "Report #{@report.title}") %>
<h1>Report Info</h1>

<div class="row">
  <aside class="col-md-10">
    <section class="project_info">
      <h1>
        Title:
        <%= @report.title %>
      </h1>
      <h1>
        Content:
        <%= @report.content %>
      </h1>
      <h1>
        Trainee:
        <%= @report.trainee.name %>
      </h1>
      <h1>
        Created at:
        <%= @report.created_at %>
      </h1>
      <h1>
        Updated at:
        <%= @report.updated_at %>
      </h1>
      <% if trainee? %>
        <%= link_to 'Update', edit_project_task_report_path(@project.id, @task.id, @report), class: 'btn btn-lg btn-primary' %>
      <% end %>
    </section>
  </aside>
</div>