<% provide(:title, "Home") %>

<% provide :head_tags do %>
  <meta name='turbolinks-visit-control' content='reload'>
  <script>
      document.addEventListener("DOMContentLoaded", function(){
          initMap(<%=@place.latitude%>, <%=@place.longitude%>)
      });
  </script>
<% end %>

<% if logged_in? %>
  <div class="center jumbotron">
    <h1>Welcome <%= @current_user.role %> <%= @current_user.name %></h1>

    <% if admin? %>
      <h2>
        You are logged in the website Rikkei Internship
        <br>
        You can manage all users, projects, tasks, skills now!
      </h2>

      <%= link_to "Users", users_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Projects", projects_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Tasks", tasks_path, class: "btn btn-lg btn-primary" %>
      <%= link_to "Skills", skills_path, class: "btn btn-lg btn-primary" %>
    <% else %>
      <h2>
        You are logged in the website Rikkei Internship
        <br>
        You can view your projects now!
      </h2>

      <%= link_to "Projects", projects_path, class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Rikkei Internship</h1>

    <h2>
      This is a website to manage Trainees through training projects of Trainers
      <br>
      Would you like to join?
    </h2>

    <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>

<div class="row">
  <div class="col-md-5">
    <h3>
      <b>Công ty TNHH Rikkeisoft Hà Nội</b>
    </h3>
    <h4>
      Tầng 3, Tòa nhà SUDICO (HH3)
    </h4>
    <h4>
      Đường Mễ Trì, Phường Mỹ Đình
    </h4>
    <h4>
      Quận Nam Từ Liêm
    </h4>
    <h4>
      Thành phố Hà Nội, Việt Nam
    </h4>
<!--    <h4 class="find-map">-->
      <%#= link_to "You can find us Google Maps -->", users_projects_path %>
<!--    </h4>-->
  </div>
  <div class="col-md-7">
    <div id="map"></div>
  </div>
</div>
