<%# provide(:title, 'Add skill for trainer') %>
<!--<h1>Add skill for trainer <%#= @user.name %></h1>-->

<!--<div class="row">-->
<!--  <div class="col-md-6 col-md-offset-3">-->
    <%#= form_for([@user, @users_skill]) do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>

      <%#= f.label :trainer_id %>
      <%#= f.text_field :trainee_id, value: "#{@user.id}", readonly: true, class: 'form-control' %>

      <%#= f.label :skill_id %>
      <%#= f.collection_check_boxes :skill_id, Skill.all, :id, :name do |s| %>
<!--        <div class="collection-check-box">-->
          <%#= s.label %>
          <%#= s.check_box %>
<!--        </div>-->
      <%# end %>
      <%#= f.submit "Add", class: "btn btn-primary" %>
    <%# end %>
<!--  </div>-->
<!--</div>-->