<%# provide(:title,  "User Skill") %>
<!--<h1>User Skill Info</h1>-->

<!--<div class="row">-->
<!--  <aside class="col-md-10">-->
<!--    <section class="project_info">-->
<!--      <h1>-->
<!--        Trainer:-->
        <%#= link_to @users_skill.trainer.name, @users_skill.trainer %>
<!--      </h1>-->
<!--      <h1>-->
<!--        Skill:-->
        <%#= link_to @users_skill.skill.name, @users_skill.skill %>
<!--      </h1>-->
      <%# if trainee? %>
      <%#= link_to 'Update', edit_project_task_report_path(@project.id, @task.id, @report), class: 'btn btn-lg btn-primary' %>
      <%# end %>
<!--    </section>-->
<!--  </aside>-->
<!--</div>-->