<% provide(:title, 'Update Task in Project') %>
<h1>Update Task <%= link_to @projects_task.task.name, @projects_task.task %>
    in Project <%= link_to @projects_task.project.name, @projects_task.project %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@projects_task) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :project_id, @projects_task.project_id %>
      <%= hidden_field_tag :task_id, @projects_task.task_id %>

      <h4>
        <% if @projects_task.parent.nil? %>
          Current parent task: None
        <% elsif @projects_task.parent.present? %>
          Current parent task: <%= @projects_task.parent.task.name %>
        <% end %>
      </h4>

      <%= f.label :parent_task_id %>
      <%= f.select :parent_task_id,
                   options_for_select(@parent.map{ |p| [p.task.name, p.id]}.insert(0, "No parent")),
                   class: 'form-control'%>

      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>