<% provide(:title, 'Add Task to Project') %>
<h1>Add Task to Project</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@projects_task) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.hidden_field :project_id, value: @project.present? ? @project.try(:id).to_i : Project.first.try(:id).to_i %>
      <%= hidden_field_tag :project_id, @project.present? ? @project.try(:id).to_i : Project.first.try(:id).to_i %>
      <h3>
        <b><%= @project.present? ? @project.try(:name) : Project.first.try(:name) %></b>
      </h3>

      <%= f.label :task_id %>
      <%= f.select :task_id, options_for_select(@tasks_add.map{ |t| [t.name, t.id]}), class: 'form-control'%>

      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>