<% provide(:title, 'Update Trainee in Project') %>
<h1>Update Trainee in Project</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@users_project) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :project_id, @users_project.project_id %>
      <%= hidden_field_tag :trainee_id, @users_project.trainee_id %>

      <%= f.label :started %>
      <%= f.date_field :started, class: "datepicker" %>

      <%= f.label :finished %>
      <%= f.date_field :finished, class: "datepicker" %>

      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>