<% provide(:title, 'Direction') %>

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    #map {
      margin-top: 50px;
      height: 500px;
      width: 100%;
      border: 1px solid #555;
      border-radius: 10px;
    }
  </style>
</head>
<body>

<script src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap&key=AIzaSyBclS0tvSYNl8PlzPYpY9q4FgGEj9lLXHE"
        async defer></script>

<script>
    var map;
    var directionsDisplay;
    var directionsService;
    var stepDisplay;
    var markerArray = [];

    function createInfoWindow(text) {
        var infowindow = new google.maps.InfoWindow({
            content: text
        });
        return infowindow;
    }

    function initMap() {
        var lat_lng = {lat: 21.016492, lng: 105.779465};
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: lat_lng
        });
        var marker = new google.maps.Marker({
            position: lat_lng,
            map: map
        });
        var info = createInfoWindow("Công ty TNHH Rikkeisoft Hà Nội </br>" +
            "Tầng 3, Tòa nhà SUDICO (HH3) </br>" +
            "Đường Mễ Trì </br>" +
            "Phường Mỹ Đình 1 </br>" +
            "Quận Nam Từ Liêm </br>" +
            "Thành phố Hà Nội, Việt Nam </br>" +
            "<a target='blank' href='https://www.google.com/maps/place/Rikkeisoft/@21.0165022,105.7785332,18z/data=!3m1!4b1!4m5!3m4!1s0x313454ac8f4b0465:0xfd5cbbbead5513c0!8m2!3d21.0165001!4d105.7794534'>Xem trên Google Maps</a>");
        google.maps.event.addListener(marker, 'click', function () {
            info.open(map, marker);
        });
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer({map: map});

        var onChangeHandler = function () {
            calculateAndDisplayRoute(directionsService, directionsDisplay);
        };
        document.getElementById('source').addEventListener('change', onChangeHandler);
        document.getElementById('destination').addEventListener('change', onChangeHandler);
        document.getElementById('mode').addEventListener('change', onChangeHandler);
    }

    function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        directionsService.route({
            origin: document.getElementById('source').value,
            destination: document.getElementById('destination').value,
            travelMode: document.getElementById('mode').value,
        }, function (response, status) {
            if (status === google.maps.DirectionsStatus.OK) {
                directionsDisplay.setDirections(response);
                showSteps(response);
            } else {
                window.alert('Request for getting direction is failed due to ' + status);
            }
        });
    }

    function showSteps(directionResult) {
        var myRoute = directionResult.routes[0].legs[0];
        var instructions = '<h3 class="distance">Quãng đường: ' + myRoute.distance.text + '</h3><br>';
        instructions += '<h5 class="duration">Thời gian: ' + myRoute.duration.text + '</h5>';
        instructions += '<h5 class="start_address">Từ: ' + myRoute.start_address + '</h5>';
        instructions += '<h5 class="end_address">Đến: ' + myRoute.end_address + '</h5>';
        instructions += '<ol>';
        var steps = '';
        for (var i = 0; i < myRoute.steps.length; i++) {
            steps += '<li>' + myRoute.steps[i].instructions + '</li>';
        }
        instructions += '<p class="steps">' + steps + '</p>';
        instructions += '</ol>';
        document.getElementById("instructions").innerHTML = instructions;
    }

    function attachInstructionText(marker, text) {
        google.maps.event.addListener(marker, 'click', function () {
            stepDisplay.setContent(text);
            stepDisplay.open(map, marker);
        });
    }
</script>

<h1>Direction On Google Maps</h1>
<div id="panel">
  <b>Xuất phát: </b>
  <select id="source">
    <option value="Trường Đại Học Điện Lực">Trường Đại Học Điện Lực</option>
    <option value="Rikkeisoft">Rikkeisoft Hà Nội</option>
    <option value="Đại học Quốc Gia Hà Nội (VNU)">Đại học Quốc Gia Hà Nội</option>
    <option value="Rikkeisoft Đà Nẵng">Rikkeisoft Đà Nẵng</option>
    <option value="Trường Đại học FPT">Trường Đại học FPT</option>
  </select>
  <b>Đích: </b>
  <select id="destination">
    <option value="Trường Đại Học Điện Lực">Trường Đại Học Điện Lực</option>
    <option value="Rikkeisoft">Rikkeisoft Hà Nội</option>
    <option value="Đại học Quốc Gia Hà Nội (VNU)">Đại học Quốc Gia Hà Nội</option>
    <option value="Rikkeisoft Đà Nẵng">Rikkeisoft Đà Nẵng</option>
    <option value="Trường Đại học FPT">Trường Đại học FPT</option>
  </select>
  <b>Phương tiện: </b>
  <select id="mode">
    <option value="DRIVING">Lái xe</option>
    <option value="WALKING">Đi bộ</option>
    <option value="TRANSIT">Xe buýt</option>
  </select>
</div>

<div id="warnings"></div>
<h3>Black out text to hear the voice:</h3>
<div id="instructions"></div>
<input onclick="responsiveVoice.cancel();" type='button' value='🔊 Stop'/>
<div id="map"></div>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=tPSY9qad"></script>
</body>
</html>