<% provide(:title, @task.name) %>
<h1>Task Info</h1>

<div class="row">
  <aside class="col-md-10">
    <section class="project_info">
      <h1>
        Name:
        <%= @task.name %>
      </h1>
      <h1>
        Duration:
        <%= @task.duration %>
      </h1>
      <h1>
        Description:
        <%= @task.description %>
      </h1>
      <% if admin? %>
        <%= link_to 'Update', edit_task_path(@task), class: 'btn btn-lg btn-primary' %>
      <% end %>
    </section>
  </aside>
</div>