<% provide(:title, 'Project Tasks') %>
<h1>Tasks of Project <%= link_to @project.name, @project %></h1>

<%if admin? || trainer? %>
  <% if @project.add_trainees.map(&:started).all?{|s| s.nil?} || @project.add_trainees.map(&:finished).all?{|f| f.present?} %>
    <%= link_to 'Create Task', new_task_path, class: 'btn btn-lg btn-primary' %>
    <%= link_to 'Add Task to Project', new_projects_task_path(project_id: @project.id), class: 'btn btn-lg btn-primary' %>
  <% else %>
    <section class="working">
      Just can create, add, update parent for task when trainees are not started yet or completed project.
    </section>
  <% end %>
<% end %>

<br>

<%= will_paginate @tasks %>

<ul class="projects">
  <% @tasks.each do |task| %>
    <% unless task.deleted? %>
      <li>
        <% project_task = @project_tasks.find_by(task_id: task.id) %>
        <h1>
          Task:
          <%= link_to task.name, project_task_path(@project.id, task.id) %>
        </h1>
        <div class="stats">
          <a href=" <%= trainees_project_task_path(@project.id, task.id) %>" class="index-stats">
            <strong class="stat">
              <% if task.belongs_users_projects.where(project_id: @project.id).count == 1 %>
                <%= task.belongs_users_projects.where(project_id: @project.id).count %> trainee
              <% else %>
                <%= task.belongs_users_projects.where(project_id: @project.id).count %> trainees
              <% end %>
            </strong>
          </a>
        </div>
        <% if admin? || trainer? %>
          <% if @project.add_trainees.map(&:started).all?{|s| s.nil?} || @project.add_trainees.map(&:finished).all?{|f| f.present?} %>
            <%= link_to "Update parent task", edit_projects_task_path(project_task), class: 'btn btn-lg btn-primary'%>
          <% end %>
          <%= link_to "Remove", project_task, method: :delete, class: 'btn btn-lg btn-primary', data: { confirm: "Are you sure? If you click OK, data of task, trainees, reports can be lost!" } %>
        <% elsif trainee? && !@users_project.started.nil? %>
          <% users_projects_task = UsersProjectsTask.find_by(task_id: task.id, users_project_id: @users_project.id) %>
          <% if users_projects_task.nil? %>
            <% if project_task.parent.nil? %>
              <%= form_for(@users_projects_task, remote: true ) do |f| %>
                <%= render 'shared/error_messages', object: f.object%>

                <%= hidden_field_tag :users_project_id, @users_project.id %>
                <%= hidden_field_tag :task_id, task.id %>
                <%= hidden_field_tag :started, Date.today %>
                <%= hidden_field_tag :finished, nil %>
                <%= hidden_field_tag :status, false %>

                <%= f.submit "Start", class: "btn btn-lg btn-primary" %>
              <% end %>
            <% elsif project_task.parent.present? && project_task.parent.task.belong_users_projects.find_by(users_project_id: @users_project.id)&.finished.present? %>
              <%= form_for(@users_projects_task, remote: true ) do |f| %>
                <%= render 'shared/error_messages', object: f.object%>

                <%= hidden_field_tag :users_project_id, @users_project.id %>
                <%= hidden_field_tag :task_id, task.id %>
                <%= hidden_field_tag :started, Date.today %>
                <%= hidden_field_tag :finished, nil %>
                <%= hidden_field_tag :status, false %>

                <%= f.submit "Start", class: "btn btn-lg btn-primary" %>
              <% end %>
            <% end %>
          <% elsif !users_projects_task.nil? && !users_projects_task.started.nil? && users_projects_task.finished.nil? %>
            <% if project_task.parent.nil? %>
              <%= form_for(users_projects_task, remote: true) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <%= hidden_field_tag :users_project_id, @users_project.id  %>
                <%= hidden_field_tag :task_id, task.id %>
                <%= hidden_field_tag :started, users_projects_task.started %>
                <%= hidden_field_tag :finished, Date.today %>
                <%= hidden_field_tag :status, true %>

                <%= f.submit "Finish", class: "btn btn-lg btn-primary", data: { confirm: "Are you sure? Please check task detail, follow it and write reports before finish." } %>
              <% end %>
            <% elsif project_task.parent.present? && project_task.parent.task.belong_users_projects.find_by(users_project_id: @users_project.id)&.finished.present? %>
              <%= form_for(users_projects_task, remote: true) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                <%= hidden_field_tag :users_project_id, @users_project.id  %>
                <%= hidden_field_tag :task_id, task.id %>
                <%= hidden_field_tag :started, users_projects_task.started %>
                <%= hidden_field_tag :finished, Date.today %>
                <%= hidden_field_tag :status, true %>

                <%= f.submit "Finish", class: "btn btn-lg btn-primary", data: { confirm: "Are you sure? Please check task detail, follow it and write reports before finish." } %>
              <% end %>
            <% end %>
          <% elsif !users_projects_task.nil? && !users_projects_task.started.nil? && !users_projects_task.finished.nil? %>
            <section class="completed">
              You have completed this task!
            </section>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= will_paginate @tasks %>