<%# provide(:title, 'New Task') %>
<!--<h1>New Task</h1>-->

<!--<div class="row">-->
<!--  <div class="col-md-6 col-md-offset-3">-->
    <%#= form_for(@task) do |f| %>
      <%#= render 'shared/error_messages', object: f.object %>

      <%#= f.label :name %>
      <%#= f.text_field :name, class: 'form-control' %>

      <%#= f.label :duration %>
      <%#= f.text_field :duration, class: 'form-control' %>

      <%#= f.label :description %>
      <%#= f.text_area :description, class: 'form-control' %>

      <%#= f.submit "Create task", class: "btn btn-primary" %>
    <%# end %>
<!--  </div>-->
<!--</div>-->