<% provide(:title, "Task #{@task.name}") %>
<h1>Task Info</h1>

<div class="row">
  <aside class="col-md-10">
    <section class="project_info">
      <h1>
        Name:
        <%= @task.name %>
      </h1>
      <h1>
        Duration:
        <%= @task.duration %>
      </h1>
      <h1>
        Description:
        <%= @task.description %>
      </h1>
      <% if admin? %>
        <%= link_to 'Update', edit_task_path(@task), class: 'btn btn-lg btn-primary' %>
        <%= link_to 'Reports', project_task_reports_path(@project.id, @task.id), class: 'btn btn-lg btn-primary' %>
      <% elsif trainer? %>
        <%= link_to 'Reports', project_task_reports_path(@project.id, @task.id), class: 'btn btn-lg btn-primary' %>
      <% elsif trainee? && @users_projects_task.present? %>
        <%= link_to 'Reports', project_task_reports_path(@project.id, @task.id), class: 'btn btn-lg btn-primary' %>
      <% elsif trainee? && @users_projects_task.nil? %>
        <section class="not_started">
          <-- Go back to index tasks page and start the task to create and view report
        </section>
      <% end %>
    </section>
  </aside>
</div>