<% provide(:title, 'Task trainees') %>
<h1>Trainees of Task <%= link_to @task.name, project_task_path(@project.id, @task.id) %> in Project <%= link_to @project.name, @project %></h1>

<%= will_paginate @users_projects %>

<ul class="users">
  <% @users_projects.each do |userp| %>
    <% unless userp.trainee.deleted? %>
      <li>
        <% users_projects_task = @users_projects_tasks.find_by(users_project_id: userp.id) %>
        <div class="picture">
          <%= image_tag userp.trainee.picture.url %>
        </div>
        <br>
        <%= link_to userp.trainee.name, userp.trainee %>
        <span>
          Started: <%= users_projects_task.started %>
        </span>
        <span>
          Finished: <%= users_projects_task.finished %>
        </span>

        <span>
          <% if users_projects_task.status.nil? %>
            Status: <span class="not_started">Not started yet</span>
          <% elsif !users_projects_task.status? %>
            Status: <span class="working">Working</span>
          <% else users_projects_task.status? %>
            Status: <span class="completed">Completed</span>
          <% end %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>

<%= will_paginate  @users_projects %>