<% provide(:title, 'New Evaluation') %>
<h1>New Evaluation</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for([@project, @evaluation]) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>

      <% if admin? %>
        <%= f.label :trainer_id %>
        <%= f.text_field :trainer_id, value: "#{@project.trainer.id}", readonly: true, class: 'form-control' %>
      <% end %>

      <%= f.label :users_project_id %>
      <%= f.select :users_project_id,
                   options_for_select(@users_projects.map{ |u| [u.trainee.name, u.id]}),
                   class: 'form-control'%>

      <%= f.label :working_result %>
      <%= f.text_area :working_result, class: 'form-control' %>

      <%= f.label :working_attitude %>
      <%= f.text_area :working_attitude, class: 'form-control' %>

      <%= f.label :manners %>
      <%= f.text_area :manners, class: 'form-control' %>

      <%= f.label :creation %>
      <%= f.text_area :creation, class: 'form-control' %>

      <%= f.submit "Create Evaluation", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>