<% provide(:title, "Evaluation #{@evaluation.title}") %>
<h1>Evaluation Info</h1>

<div class="row">
  <aside class="col-md-10">
    <section class="project_info">
      <h1>
        Title:
        <%= @evaluation.title %>
      </h1>
      <h1>
        Trainer:
        <%= link_to @evaluation.trainer.name, @evaluation.trainer %>
      </h1>
      <h1>
        Trainee:
        <%= link_to @evaluation.user_project.trainee.name, @evaluation.user_project.trainee %>
      </h1>
      <h1>
        Project:
        <%= link_to @evaluation.user_project.project.name, @evaluation.user_project.project %>
      </h1>
      <h1>
        Working result:
        <%= @evaluation.working_result %>
      </h1>
      <h1>
        Working attitude:
        <%= @evaluation.working_attitude %>
      </h1>
      <h1>
        Manners:
        <%= @evaluation.manners %>
      </h1>
      <h1>
        Creation:
        <%= @evaluation.creation %>
      </h1>
      <% if admin? || trainer? %>
        <%= link_to 'Update', edit_project_evaluation_path(@project.id, @evaluation), class: 'btn btn-lg btn-primary' %>
        <%= link_to 'Delete', project_evaluation_path(@project.id, @evaluation), method: :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-lg btn-primary' %>
      <% end %>
    </section>
  </aside>
</div>