<% provide(:title, 'Update profile') %>
<h1>Update Profile</h1>

<script type="text/javascript">
    $('.picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <% if admin? && @user.role == "trainee" %>
        <%= f.label :role %>
        <%= f.select :role, options_for_select([["Trainee", "trainee"],
                                                ["Trainer", "trainer"],
                                                ["Admin", "admin"] ]),
                     class: 'form-control' %>
      <% elsif admin? && @user.role == "trainer" %>
        <%= f.label :role %>
        <%= f.select :role, options_for_select([["Trainer", "trainer"],
                                                ["Trainee", "trainee"],
                                                ["Admin", "admin"] ]),
                     class: 'form-control' %>
      <% end %>

      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, class: "datepicker" %>

      <%= f.label :telephone %>
      <%= f.number_field :telephone, only_integer: true, class: 'form-control' %>

      <%= f.label :division %>
      <%= f.text_field :division, class: 'form-control' %>

      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :picture %>
      <h1 class="picture">
        <%= image_tag @user.picture.url %>
      </h1>
      <span>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
      </span>

      <% if trainer? || admin? %>
        <%= f.label "Skills:" %>
        <br>
        <%= f.collection_check_boxes :skill_ids, Skill.all, :id, :name do |s| %>
          <div class="collection-check-box">
            <%= s.label %>
            <%= s.check_box %>
          </div>
        <% end %>
<!--        <div class="new-skill">-->
          <%#= link_to "Create new skill", new_skill_path %>
<!--        </div>-->
      <% end %>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>