<% if admin? %>
  <% provide(:title, 'All users') %>

  <%= link_to 'Create New', signup_path, class: 'btn btn-lg btn-primary bt-new' %>

  <br>

  <%= will_paginate @users_search %>

  <h1>All Users</h1>

  <fieldset class="search-form">
    <legend>Search Our Database</legend>
    <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Name contains:" %>
        <%= f.text_field :name_cont %>
      </div>

      <div class="field">
        <%= f.label "Skills (of Trainers):" %><br />
        <%= f.collection_check_boxes :skills_id_in_any, Skill.all, :id, :name do |s| %>
          <div class="collection-check-box">
            <%= s.label %>
            <%= s.check_box %>
          </div>
        <% end %>
      </div>
      <%#= f.submit "Search", class: "btn btn-primary" %>
      <button type="submit"><i class="fas fa-search btn btn-primary"> Search</i></button>
    <% end %>
  </fieldset>

  <ul class="users">
    <% @users_search.each do |user| %>
      <% unless user.deleted? %>
      <li>
        <div class="picture">
          <%= image_tag user.picture.url %>
        </div>
        <br>
        <%= link_to user.name, user %> | <%= user.role %>
        <br>
        <% if user.role == "trainer" && user.skills.any? %>
          Skill: <%= user.skills.map(&:name).sort.join(", ") %>
          <br>
        <% elsif user.role == "trainer" && user.skills.empty? %>
          Skill: No skills yet
          <br>
        <% end %>
        <% if admin? && !current_user?(user) %>
          <%= link_to "Delete", user, method: :delete, class: 'btn btn-lg btn-primary',
                      data: { confirm: "Are you sure?" } %>
        <% end %>
      </li>
      <% end %>
    <% end %>
  </ul>

  <%= will_paginate @users_search %>
<% end %>

<% if trainer? %>
  <% provide(:title, 'All trainees') %>

  <%= will_paginate @users_search %>

  <h1>All Trainees</h1>

  <fieldset class="search-form">
    <legend>Search Our Database</legend>
    <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Name contains:" %>
        <%= f.text_field :name_cont %>
      </div>
      <%#= f.submit "Search", class: "btn btn-primary" %>
      <button type="submit"><i class="fas fa-search btn btn-primary"> Search</i></button>
    <% end %>
  </fieldset>

  <ul class="users">
    <% @users_search.each do |user| %>
      <% unless user.deleted? %>
      <li>
        <div class="picture">
          <%= image_tag user.picture.url %>
        </div>
        <br>
        <%= link_to user.name, user %> | <%= user.role %>
      </li>
    <% end %>
    <% end %>
  </ul>

  <%= will_paginate @users_search %>
<% end %>

<% if trainee? %>
  <% provide(:title, 'All trainers') %>

  <%= will_paginate @users_search %>

  <h1>All Trainers</h1>

  <fieldset class="search-form">
    <legend>Search Our Database</legend>
    <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Name contains:" %>
        <%= f.text_field :name_cont %>
      </div>

      <div class="field">
        <%= f.label "Skills (of Trainers):" %><br />
        <%= f.collection_check_boxes :skills_id_in_any, Skill.all, :id, :name do |s| %>
          <div class="collection-check-box">
            <%= s.label %>
            <%= s.check_box %>
          </div>
        <% end %>
      </div>
      <%#= f.submit "Search", class: "btn btn-primary" %>
      <button type="submit"><i class="fas fa-search btn btn-primary"> Search</i></button>
    <% end %>
  </fieldset>

  <ul class="users">
    <% @users_search.each do |user| %>
      <% unless user.deleted? %>
      <li>
        <div class="picture">
          <%= image_tag user.picture.url %>
        </div>
        <br>
        <%= link_to user.name, user %> | <%= user.role %>
        <br>
        <% if user.role == "trainer" && user.skills.any? %>
          Skill: <%= user.skills.map(&:name).sort.join(", ") %>
          <br>
        <% elsif user.role == "trainer" && user.skills.empty? %>
          Skill: No skills yet
          <br>
        <% end %>
      </li>
    <% end %>
    <% end %>
  </ul>

  <%= will_paginate @users_search %>
<% end %>