<%= provide(:title, 'Sign up') %>
<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({format: 'dd/mm/yyyy'});
    });
</script>
<h1>Sign Up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :role %>
      <% if admin? %>
      <%= f.select :role, options_for_select([["Trainee", "trainee"],
                                              ["Trainer", "trainer"],
                                              ["Admin", "admin"] ]),
                   class: 'form-control' %>
      <% else %>
        <%= f.select :role, options_for_select([["Trainee", "trainee"]]), class: 'form-control' %>
      <% end %>

      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, class: "datepicker" %>

      <%= f.label :telephone %>
      <%= f.number_field :telephone, only_integer: true, class: 'form-control' %>

      <%= f.label :division %>
      <%= f.text_field :division, class: 'form-control' %>

      <%= f.label :introduction %>
      <%= f.text_area :introduction, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Create Account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
