<%= provide(:title, "User #{@user.name}") %>
<h1>User Info</h1>

<div class="row">
  <aside class="col-md-10">
    <section class="user_info">
      <div class="picture">
        <%= image_tag @user.picture.url %>
      </div>
      <h1>
        Name:
        <%= @user.name %>
      </h1>
      <h1>
        Email:
        <%= @user.email %>
      </h1>
      <h1>
        Role:
        <%= @user.role %>
      </h1>
      <h1>
        Date of birth:
        <%= @user.date_of_birth %>
      </h1>
      <h1>
        Telephone:
        <%= @user.telephone %>
      </h1>
      <h1>
        Division:
        <%= @user.division %>
      </h1>
      <h1>
        Introduction:
        <%= @user.introduction %>
      </h1>

      <% if @user.role == "trainer" %>
        <section class="skills">
          Skills:
          <% if @user.skills.empty? && @user != current_user %>
            <section class="not_started">No skills yet</section>
          <% elsif @user.skills.empty? && @user == current_user %>
            <section class="not_started">Update profile to choose your skills.</section>
          <% else %>
            <%= @user.skills.map(&:name).sort.join(", ") %>
          <% end %>
        </section>
      <% end %>

      <% if admin? %>
        <%= link_to 'Update', edit_user_path(@user), class: 'btn btn-lg btn-primary' %>
      <% elsif correct_user? %>
        <%= link_to 'Update', edit_user_path(current_user), class: 'btn btn-lg btn-primary' %>
      <% end %>
    </section>
  </aside>
</div>
