<% provide(:title, 'All Skills') %>

<%= link_to 'Create New', new_skill_path, class: 'btn btn-lg btn-primary bt-new' %>

<br>

<%= will_paginate %>

<h1>All Skills</h1>

<fieldset class="search-form">
  <legend>Search Our Database</legend>
  <%= search_form_for @search do |f| %>
    <div class="field">
      <%= f.label :name_cont, "Name contains:" %>
      <%= f.text_field :name_cont %>
    </div>
    <%#= f.submit "Search", class: "btn btn-primary" %>
    <button type="submit"><i class="fas fa-search btn btn-primary"> Search</i></button>
  <% end %>
</fieldset>

<ul class="projects">
  <% @skills.each do |skill| %>
      <li>
        <h1>
          <%= skill.name %>
        </h1>
        <% if admin? %>
          <%= link_to "Delete", skill, method: :delete, class: 'btn btn-lg btn-primary',
                      data: { confirm: "Are you sure?" } %>
        <% end %>
      </li>
  <% end %>
</ul>

<%= will_paginate %>