<% provide(:title, 'New Skill') %>
<h1>New Skill</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@skill) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>