<% provide(:title,  "Skill #{@skill.name}") %>
<h1>Skill Info</h1>

<div class="row">
  <aside class="col-md-10">
    <section class="project_info">
      <h1>
        Name:
        <%= @skill.name %>
      </h1>
    </section>
  </aside>
</div>