<% @project %>
<div class="stats">
  <a href="<%= project_tasks_path(@project) %>">
    <strong id="tasks" class="stat">
      <% if @project.added_tasks.where(deleted: false).count == 1 %>
        <%= @project.added_tasks.where(deleted: false).count %> task
      <% else %>
        <%= @project.added_tasks.where(deleted: false).count %> tasks
      <% end %>
    </strong>
  </a>
</div>