<% @project %>
<div class="stats">
  <a href="<%= trainees_project_path(@project) %>">
    <strong id="trainees" class="stat">
      <% if @project.added_trainees.where(deleted: false).count == 1 %>
        <%= @project.added_trainees.where(deleted: false).count %> trainee
      <% else %>
        <%= @project.added_trainees.where(deleted: false).count %> trainees
      <% end %>
    </strong>
  </a>
</div>