<div id="start_form">
  <% if @user_project.status.nil? %>
    <%= render 'start' %>
  <% elsif !@user_project.status? %>
    <%= render 'finish' %>
  <% else @user_project.status? %>
    <h1>You are completed this project!</h1>
  <% end %>
</div>