<%= form_for(@user_project.update_attributes(started: Date.today, status: false), remote: true) do |f| %>
  <div><%= hidden_field_tag :project_id, @user_project.project_id %></div>
  <div><%= hidden_field_tag :trainee_id, @user_project.trainee_id %></div>
  <%= f.submit "Start", class: "btn btn-lg btn-primary" %>
<% end %>