<% if admin? %>
  <% provide(:title, 'All Projects') %>

  <%= link_to 'Create New', new_project_path, class: 'btn btn-lg btn-primary bt-new' %>

  <br>

  <%= will_paginate %>

  <h1>All Projects</h1>

  <fieldset class="search-form">
    <legend>Search Our Database</legend>
    <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Name contains:" %>
        <%= f.text_field :name_cont %>
      </div>
      <button type="submit"><i class="fas fa-search btn btn-primary"> Search</i></button>
    <% end %>
  </fieldset>

  <ul class="projects">
    <% @projects.each do |project| %>
      <% unless project.deleted? %>
        <li>
          <h1>
            Project:
            <%= link_to project.name, project %>
          </h1>
          <h1>
            Trainer:
            <%= link_to project.trainer.name, project.trainer %>
          </h1>
          <%= link_to "Delete", project, method: :delete, class: 'btn btn-lg btn-primary',
                      data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= will_paginate %>
<% end %>

<% if trainer? %>
<% provide(:title, 'All Projects') %>

<%= link_to 'Create New', new_project_path, class: 'btn btn-lg btn-primary bt-new' %>

<br>

<%= will_paginate %>

  <h1>All Projects</h1>

  <fieldset class="search-form">
    <legend>Search Our Database</legend>
    <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Name contains:" %>
        <%= f.text_field :name_cont %>
      </div>
      <%#= f.submit "Search", class: "btn btn-primary" %>
      <button type="submit"><i class="fas fa-search btn btn-primary"> Search</i></button>
    <% end %>
  </fieldset>

  <ul class="projects">
    <% @projects.each do |project| %>
      <% unless project.deleted? %>
      <li>
        <h1>
          Project:
          <%= link_to project.name, project %>
        </h1>
        <h1>
          Trainer:
          <%= link_to project.trainer.name, project.trainer %>
        </h1>
        <%= link_to "Delete", project, method: :delete, class: 'btn btn-lg btn-primary',
                    data: { confirm: "Are you sure?" } %>
      </li>
      <% end %>
    <% end %>
  </ul>

<%= will_paginate %>
<% end %>

<% if trainee? %>
  <% provide(:title, 'All Projects') %>

  <%= will_paginate %>

  <h1>All Projects</h1>

  <fieldset class="search-form">
    <legend>Search Our Database</legend>
    <%= search_form_for @search do |f| %>
      <div class="field">
        <%= f.label :name_cont, "Name contains:" %>
        <%= f.text_field :name_cont %>
      </div>
      <%#= f.submit "Search", class: "btn btn-primary" %>
      <button type="submit"><i class="fas fa-search btn btn-primary"> Search</i></button>
    <% end %>
  </fieldset>

  <ul class="projects">
    <% @projects.each do |project| %>
      <% unless project.deleted? %>
        <li>
          <h1>
            Project:
            <%= link_to project.name, project %>
          </h1>
          <h1>
            Trainer:
            <%= link_to project.trainer.name, project.trainer %>
          </h1>
        </li>
      <% end %>
    <% end %>
  </ul>

  <%= will_paginate %>
<% end %>