<% provide(:title, 'New Project') %>
<h1>New Project</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@project) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <% if admin? %>
        <%= f.label :trainer_id %>
        <%= f.select :trainer_id,
                     options_for_select(@trainers.map{ |t| [t.name, t.id]}),
                     class: 'form-control'%>
      <% end %>

      <%= f.label :duration %>
      <%= f.text_field :duration, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>

      <%= f.submit "Create project", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>