<% provide(:title, "Project #{@project.name}") %>
<h1>Project Info</h1>

<div class="row">
  <aside class="col-md-10">
    <section class="project_info">
      <h1>
        Name:
        <%= @project.name %>
      </h1>
      <h1>
        Trainer:
        <%= @project.trainer.name %>
      </h1>
      <h1>
        Duration:
        <%= @project.duration %>
      </h1>
      <h1>
        Description:
        <%= @project.description %>
      </h1>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats_tasks' %>
      </section>
      <% if admin? || trainer? %>
        <%= link_to 'Update', edit_project_path(current_user_project), class: 'btn btn-lg btn-primary' %>
      <% else trainee? %>
        <% if @user_project.started.nil? %>
          <%= form_for(@user_project) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= hidden_field_tag :project_id, @user_project.project_id %>
            <%= hidden_field_tag :trainee_id, @user_project.trainee_id %>
            <%= hidden_field_tag :started, Date.today %>
            <%= hidden_field_tag :finished, @user_project.finished %>
            <%= hidden_field_tag :status, false %>

            <%= f.submit "Start", class: "btn btn-lg btn-primary" %>
          <% end %>
        <% elsif !@user_project.started.nil? && @user_project.finished.nil? && @count_tasks_finished < @project.added_tasks.count %>
          <section class="working">
            You are working on this project, finish all tasks to finish project!
          </section>
        <% elsif !@user_project.started.nil? && @user_project.finished.nil? && @count_tasks_finished >= @project.added_tasks.count %>
          <%= form_for(@user_project) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= hidden_field_tag :project_id, @user_project.project_id %>
            <%= hidden_field_tag :trainee_id, @user_project.trainee_id %>
            <%= hidden_field_tag :started, @user_project.started %>
            <%= hidden_field_tag :finished, Date.today %>
            <%= hidden_field_tag :status, true %>

            <%= f.submit "Finish", class: "btn btn-lg btn-primary" %>
          <% end %>
        <% elsif !@user_project.started.nil? && !@user_project.finished.nil? %>
          <section class="completed">
            You have completed this project!
          </section>
        <% end %>
      <% end %>
    </section>
  </aside>
</div>