<% provide(:title, 'Project Tasks') %>
<h1>Tasks of Project <%= link_to @project.name, @project %></h1>

<%= will_paginate @project_tasks %>

<ul class="projects">
  <% @project_tasks.each do |task| %>
    <% unless task.deleted? %>
      <li>
        <% task_project = @task_projects.find_by(task_id: task.id) %>
        <h1>
          Task name:
          <%= link_to task.name, task %>
        </h1>
        <h1>
          Duration: <%= task.duration %>
        </h1>
        <h1>
          Description: <%= task.description %>
        </h1>
        <div class="stats">
          <a href="#" class="index-stats">
            <strong class="stat">
              <% if task.belongs_users_projects.where(project_id: @project.id).count == 1 %>
                <%= task.belongs_users_projects.where(project_id: @project.id).count %> trainee
              <% else %>
                <%= task.belongs_users_projects.where(project_id: @project.id).count %> trainees
              <% end %>
            </strong>
          </a>
        </div>
        <% if admin? || trainer? %>
          <%= link_to "Update", edit_projects_task_path(task_project),
                      class: 'btn btn-lg btn-primary'%>
          <%= link_to "Remove", task_project, method: :delete, class: 'btn btn-lg btn-primary',
                      data: { confirm: "Are you sure?" } %>
        <% elsif trainee? && !@users_project.started.nil? %>
          <% users_projects_task = UsersProjectsTask.find_by(task_id: task.id, users_project_id: @users_project.id) %>
          <% if users_projects_task.nil? %>
            <%= form_for(@users_projects_task, remote: true ) do |f| %>
              <%= render 'shared/error_messages', object: f.object%>

              <%= hidden_field_tag :users_project_id, @users_project.id %>
              <%= hidden_field_tag :task_id, task.id %>
              <%= hidden_field_tag :started, Date.today %>
              <%= hidden_field_tag :finished, nil %>
              <%= hidden_field_tag :status, false %>

              <%= f.submit "Start", class: "btn btn-lg btn-primary" %>
            <% end %>
          <% elsif !users_projects_task.nil? && !users_projects_task.started.nil? && users_projects_task.finished.nil? %>
            <%= form_for(users_projects_task, remote: true) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>

              <%= hidden_field_tag :users_project_id, @users_project.id  %>
              <%= hidden_field_tag :task_id, task.id %>
              <%= hidden_field_tag :started, users_projects_task.started %>
              <%= hidden_field_tag :finished, Date.today %>
              <%= hidden_field_tag :status, true %>

              <%= f.submit "Finish", class: "btn btn-lg btn-primary" %>
            <% end %>
          <% else !users_projects_task.nil? && !users_projects_task.started.nil? && !users_projects_task.finished.nil? %>
            <section class="completed">
              You have completed this task!
            </section>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= will_paginate @project_tasks %>