<% provide(:title, 'Project trainees') %>
<h1>Trainees of Project <%= link_to @project.name, @project %></h1>

<%if admin? || trainer? %>
  <%= link_to 'Add Trainee', new_users_project_path(project_id: @project.id), class: 'btn btn-lg btn-primary' %>
<% end %>

<br>

<%= will_paginate @project_trainees %>

<ul class="users">
  <% @project_trainees.each do |user| %>
    <% unless user.deleted? %>
      <li>
        <% user_project = @user_projects.find_by(trainee_id: user.id) %>
        <div class="picture">
          <%= image_tag user.picture.url %>
        </div>
        <br>
        <%= link_to user.name, user %>
        <span>
          Started: <%= user_project.started %>
        </span>
        <span>
          Finished: <%= user_project.finished %>
        </span>

        <span>
          <% if user_project.status.nil? %>
            Status: <span class="not_started">Not started yet</span>
          <% elsif !user_project.status? %>
            Status: <span class="working">Working</span>
          <% else user_project.status? %>
            Status: <span class="completed">Completed</span>
          <% end %>
        </span>
        <% if admin? || trainer?  %>
          <% if user_project.evaluation.nil? && user_project.status? %>
            <%= link_to "New Evaluation", new_project_evaluation_path(@project.id), class: 'btn btn-lg btn-primary'%>
          <% elsif user_project.evaluation.present? && user_project.status? %>
            <%= link_to "Evaluation", project_evaluation_path(@project.id, user_project.evaluation), class: 'btn btn-lg btn-primary'%>
          <% end %>
          <%= link_to "Remove", user_project, method: :delete, class: 'btn btn-lg btn-primary', data: { confirm: "Are you sure?" } %>
        <% elsif trainee? && current_user.id == user.id && user_project.status? %>
          <% if user_project.evaluation.nil? %>
            <span>
              <span class="not_started">No evaluation yet</span>
            </span>
          <% else %>
            <%= link_to "Evaluation", project_evaluation_path(@project.id, user_project.evaluation), class: 'btn btn-lg btn-primary'%>
          <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= will_paginate  @project_trainees %>
