@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$gray-light: #777;
$gray-lighter: #bbb;
$gray-medium-light: #eaeaea;
$gray: #555;
$gray-darker: #222;
$state-danger-text: #a94442;

/* universal */

body {
  padding-top: 60px;
  //background: url(background.jpg);
  //background-repeat: no-repeat;
  //background-attachment: fixed;
  //background-position: center;
  //background-size: cover;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
    font-size: 1em;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section.project_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    section.skills {
      font-size: 1.85em;
      text-align: left;
      margin-top: 0px;
      line-height: 1.5;
      padding: 0;
      section.not_started {
        font-size: 1em;
        display: inline-flex;
      }
    }
    section.completed {
      font-size: 1.85em;
      text-align: left;
      color: darkorange;
      margin-top: 0px;
      line-height: 1.5;
    }
    section.working {
      font-size: 1.85em;
      text-align: left;
      color: green;
      margin-top: 0px;
      line-height: 1.5;
    }
    section.not_started {
      font-size: 1.85em;
      text-align: left;
      color: darkred;
      margin-top: 0px;
      line-height: 1.5;
    }
    h1 {
      font-size: 1.85em;
      text-align: left;
      margin-bottom: 10px;
      margin-top: 0px;
      line-height: 1.5;
    }
    a.btn {
      margin-top: 20px;
    }
    input {
      margin-top: 20px;
    }
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    font-size: 1.85em;
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  a.index-stats {
    font-size: 1.35em;
    margin-bottom: 10px;
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

label {
  font-size: 1.55em;
}

select {
  border-radius: 3px;
  height: 30px;
  font-size: 1.25em;
}

input {
  height: auto !important;
}

input[type="submit"] {
  font-size: 18px;
}

div.collection-check-box {
  display: inline-block;
  label {
    margin: 10px 0;
    font-size: 1.55em;
    font-weight: 500;
  }
  input[type='checkbox'] {
    width: 15px;
    height: 15px !important;
    margin: 0 25px 0 5px;
  }
}

div.new-skill {
  a {
    font-size: 1.55em;
    display: block;
    margin-bottom: 15px;
  }
}

fieldset.search-form {
  border: 1px solid #c0c0c0;
  border-radius: 5px;
  margin: 0 2px;
  padding: 0.75em;
  legend {
    width: auto;
    border: 0;
    font-size: 1.85em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input[type='text'] {
    width: 250px;
    font-size: 1.25em;
    border-radius: 4px;
  }
  input[type='submit'] {
    width: 100px;
    font-size: 1.25em;
  }
  button {
    padding: 0;
    border: 0;
    i {
      font-size: 20px;
      padding: 10px;
      border-radius: 4px;
    }
  }
  div.collection-check-box {
    display: inline-block;
    label {
      margin: 10px 0;
      font-size: 1.55em;
      font-weight: 500;
    }
    input[type='checkbox'] {
      width: 15px;
      height: 15px !important;
      margin: 0 25px 0 5px;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: 12px;
  height: 12px !important;
}

span.remember_me {
  font-size: 16px;
  font-weight: 100;
}

label.lb_remember_me {
  margin-top: -5px;
}

/* User index */

.users {
  list-style: none;
  margin: 0;
  li {
    font-size: 1.85em;
    overflow: auto;
    padding: 20px 0;
    border-bottom: 1px solid $gray-lighter;
    .picture {
      margin-bottom: -15px;
      text-align: left;
    }
    img {
      border-radius: 50%;
    }
    a.btn {
      margin-top: 20px;
    }
    span {
      font-size: 1em;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0px;
      display: block;
      .not_started {
        display: inline;
        color: darkred;
      }
      .working {
        display: inline;
        color: green;
      }
      .completed {
        display: inline;
        color: darkorange;
      }
    }
  }
}

/* Projects index */

.projects {
  list-style: none;
  margin: 0;
  li {
    font-size: 1.5em;
    overflow: auto;
    padding: 20px 0;
    border-bottom: 3px solid $gray-lighter;
    h1 {
      font-size: 1.35em;
      text-align: left;
      margin-bottom: 10px;
      margin-top: 0px;
      line-height: 1.5;
    }
    a.btn {
      margin-top: 10px;
    }
    section.completed {
      font-size: 1.35em;
      text-align: left;
      color: darkorange;
      margin-top: 0px;
      line-height: 1.5;
    }
    ul.reports {
      h1 {
        font-size: 0.89em;
      }
    }
  }
}

.trainees {
  list-style: none;
  margin: 0;
  li {
    font-size: 1.5em;
    overflow: auto;
    padding: 20px 0;
    border-bottom: 3px solid $gray-lighter;
    h1 {
      font-size: 1.55em;
      text-align: left;
      margin-bottom: 10px;
      margin-top: 0px;
      line-height: 1.5;
    }
    span {
      font-size: 1em;
      text-align: left;
      margin-top: 10px;
      margin-bottom: 0px;
      display: inline;
      .not_started {
        display: inline;
        color: darkred;
      }
      .working {
        display: inline;
        color: green;
      }
      .completed {
        display: inline;
        color: darkorange;
      }
    }
    ul.reports {
      li {
        margin-top: 0px;
        padding: 10px 0 0 0;
        border-top: 1px solid $gray-lighter;
        border-bottom: 0px solid $gray-lighter;
      }
      h1 {
        font-size: 0.89em;
      }
    }
  }
}

/* Picture */

.picture {
  img {
    border-radius: 50%;
  }
  margin-bottom: 25px;
}

/* Button Create */

.bt-new {
  margin-top: 50px;
}

/* Button margin-right */

a.btn {
  margin-right: 10px;
}

/* ----------Map----------- */

.map-info {
  width: 35%;
  margin-left: 105px;
  margin-top: 65px;
  h5 {
    font-size: 1.25em;
    color: $gray-light;
  }
}

.map-home {
  width: 65%;
  margin-left: 480px;
  margin-top: -215px;
  #map {
    border: 1px solid $gray;
    border-radius: 10px;
    width: 550px;
    height: 350px;
  }
}

#map {
  width: auto;
  height: 50vh;
}

#map2 {
  width: 650px;
  height: 450px;
}

#panel {
  margin-top: 35px;
  z-index: 5;
  background-color: #fff;
  padding: 0px;
  border: 1px solid #555;
  border-radius: 10px;
  text-align: center;
  font-size: 1.25em;
  line-height: 30px;
}

#instructions {
  margin-top: 35px;
}

#mode, #destination, #source {

}

.find-map a{
  text-decoration-line: none;
}

.find-map :hover {
  color: cornflowerblue;
}

/* --------------Tasks---------------- */

section.working {
  font-size: 1.85em;
  text-align: left;
  color: blue;
  margin-top: 0px;
  line-height: 1.5;
}