<footer class="footer">
  <small>Copyright By Le Thai Hai</small>
  <nav>
    <ul>
      <li><a href="https://vn.rikkeisoft.com/news/gioi-thieu" target="_blank">About</a></li>
      <li><a href="https://vn.rikkeisoft.com/news/tin-tuc-su-kien" target="_blank">News</a></li>
      <li><a href="https://vn.rikkeisoft.com/" target="_blank">Contact</a></li>
    </ul>
  </nav>
</footer>